/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
 @tailwind base;
 @tailwind components;
 @tailwind utilities;
 
 /**
  * Globally applied styles. No matter which components are in the page or matching route,
  * the styles in here will be applied to the Document, without any sort of CSS scoping.
  */
 
 /* Color Variables */
 :root {
   /* Accent Colors */
   --cortana-blue: #0077FF;      /* Calm and trustworthy */
   --cortana-purple: #B75EF2;    /* Creative and imaginative */
   --cortana-orange: #FF7733;    /* Energetic and inviting */
   --cortana-yellow: #FFBB33;    /* Optimistic and cheerful */
 
   /* Neutrals */
   --cortana-black-0: #333333;   /* Balance and stability */
   --cortana-white-0: #FFFFFF;   /* Clean and modern */
   --cortana-gray-1: #757575;    /* Subtle and sophisticated */
   --cortana-gray-2: #CCCCCC;    /* Soft and neutral */
   --cortana-gray-3: #F0F0F0;    /* Light and airy */
 }
 
 /* Base Typography and Layout */
 html {
   font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif, Roboto;
   line-height: 1;
   -webkit-text-size-adjust: 100%;
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
 }
 
 /* Body Styles */
 body {
   padding: 0;
   margin: 0;
   line-height: 1.6; /* Improved readability with slightly increased line height */
   font-family: inherit; /* Inherit font-family for consistency */
   background-color: var(--cortana-white-0); /* Set a default background color */
 }
 
 /* Global CSS Reset */
 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }
 